@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 18px;
  color: #ffffff;
  background-color: hsl(var(--neutral-900));
}

:root {
  --neutral-900: 243 96% 9%;
  --neutral-800: 243 27% 20%;
  --neutral-700: 243 23% 24%;
  --neutral-600: 243 23% 30%;
  --neutral-300: 240 6% 70%;
  --neutral-200: 250 6% 84%;
  --neutral-0: 0 0% 100%;
  --orange-500: 28 100% 52%;
  --blue-500: 233 67% 56%;
  --blue-700: 248 70% 36%;

  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-dm: "DM Sans", sans-serif;

  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;

  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

@layer components {
  .text-preset-1 {
    font-family: var(--font-dm);
    font-size: 96px;
    line-height: 100%;
    letter-spacing: -2px;
    font-style: italic;
    font-weight: 600;
  }

  .text-preset-2 {
    font-family: var(--font-bricolage);
    font-size: 52px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 700;
  }

  .text-preset-3 {
    font-family: var(--font-dm);
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
    font-weight: 300;
  }

  .text-preset-4 {
    font-family: var(--font-dm);
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 700;
  }

  .text-preset-5 {
    font-family: var(--font-dm);
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 600;
  }

  .text-preset-6 {
    font-family: var(--font-dm);
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 500;
  }

  .text-preset-7 {
    font-family: var(--font-dm);
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 500;
  }

  .text-preset-8 {
    font-family: var(--font-dm);
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 500;
  }
}
